/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.index_content {
  position: relative;
  margin: auto;
}

.heading {
  text-align: center;
  padding-top: 75px;
}

.start_game {
  text-align: center;
  position: relative;
  top: 60px;
}

.controls {
  position: relative;
}

.start_game:hover::before {
  content: "> ";
}

.cover {
  font-family: 'Press Start 2P', cursive;
  width: 535px;
  height: 409px;
  z-index: 5;
  border: 2px solid #540D11;
  border-radius: 5px;
  position: absolute;
  top: 73px;
  left: 245px;
  background: -webkit-linear-gradient(#454930, #646A45); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#454930, #646A45); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#454930, #646A45); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#454930, #646A45); /* Standard syntax */
}

.gameboy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#myCanvas {
  border: 2px solid #540D11;
  border-radius: 5px;
  position: absolute;
  top: 73px;
  left: 245px;
}

canvas {
  background: -webkit-linear-gradient(#454930, #646A45); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#454930, #646A45); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#454930, #646A45); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#454930, #646A45); /* Standard syntax */
}
